body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(Assets/Hero-bg.png);
}
.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;

}
nav{
     display: flex;
     justify-content: space-between;
     padding: 45px 150px;
     align-items: center;

}
.banner{
    text-align: center;
    margin-top: 150px;
    padding-bottom: 100px;
}
.btn{
    color: white;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    padding: 10px 20px;
}
.action{
    display: flex;
    align-items: center;
    padding: 100px 150px;
    justify-content: space-between;
}
img{
    border-radius: 10px;
    height: 330px;
    width: 400px;
}
.gray{
    color: #a4a4a8;
}
.users{
    margin: 50px 150px;
    background-color: #d7d5f5;
    border-radius: 10px;
    text-align: center;
    padding: 50px 150px;
}
.list{
    display: flex;
   justify-content: space-around;
   line-height: 3px;
}
.bold{
    font-size: 50px;
    color: #4E47FF;
    font-weight: bold;
}